<launch>
    <arg name="player_name" default="p_jfernandes"/>
    <arg name="player_color" default="Blue"/>

    <arg name="x_pos" default="-1"/>
    <arg name="y_pos" default="4.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="3.1415"/>

    <!--    load params for game-->
    <rosparam command="load" file="$(find p_jfernandes_bringup)/params/game.yaml"/>

    <!--BLUE ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="blue1"/>
        <arg name="player_color" value="Blue"/>
        <!--        initial pose-->
        <arg name="x_pos" value="-8"/>
        <arg name="y_pos" value="0"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="0"/>
    </include>

    <!--BLUE ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="blue2"/>
        <arg name="player_color" value="Blue"/>
        <!--        initial pose-->
        <arg name="x_pos" value="-8"/>
        <arg name="y_pos" value="1"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="0"/>
    </include>

    <!--BLUE ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="blue3"/>
        <arg name="player_color" value="Blue"/>
        <!--        initial pose-->
        <arg name="x_pos" value="-8"/>
        <arg name="y_pos" value="2"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="0"/>
    </include>

    <!--***********************************************************************-->

    <!--RED ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="red1"/>
        <arg name="player_color" value="Red"/>
        <!--        initial pose-->
        <arg name="x_pos" value="4"/>
        <arg name="y_pos" value="4"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!--RED ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="red2"/>
        <arg name="player_color" value="Red"/>
        <!--        initial pose-->
        <arg name="x_pos" value="4"/>
        <arg name="y_pos" value="5"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!--RED ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="red3"/>
        <arg name="player_color" value="Red"/>
        <!--        initial pose-->
        <arg name="x_pos" value="5"/>
        <arg name="y_pos" value="5"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!--***********************************************************************-->


    <!--    GREEN ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="green1"/>
        <arg name="player_color" value="Green"/>
        <!--        initial pose-->
        <arg name="x_pos" value="5"/>
        <arg name="y_pos" value="2"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

        <!--    GREEN ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="green2"/>
        <arg name="player_color" value="Green"/>
        <!--        initial pose-->
        <arg name="x_pos" value="5"/>
        <arg name="y_pos" value="1"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

        <!--    GREEN ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="green3"/>
        <arg name="player_color" value="Green"/>
        <!--        initial pose-->
        <arg name="x_pos" value="6"/>
        <arg name="y_pos" value="1"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

</launch>
