<launch>
    <arg name="player_name" default="p_jfernandes"/>
    <arg name="player_color" default="Blue"/>

    <arg name="x_pos" default="-1"/>
    <arg name="y_pos" default="4.0"/>
    <arg name="z_pos" default="0.0"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="3.1415"/>


    <!--BLUE ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="p_jfernandes"/>
        <arg name="player_color" value="Blue"/>

        <arg name="x_pos" value="-7"/>
        <arg name="y_pos" value="-3"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>


    <!--RED ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="Red"/>
        <arg name="player_color" value="Red"/>

        <arg name="x_pos" value="1"/>
        <arg name="y_pos" value="$(arg y_pos)"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

    <!--    GREEN ROBOT-->
    <include file="$(find p_jfernandes_bringup)/launch/bringup.launch">
        <arg name="player_name" value="Green"/>
        <arg name="player_color" value="Green"/>

        <arg name="x_pos" value="4"/>
        <arg name="y_pos" value="1"/>
        <arg name="z_pos" value="$(arg z_pos)"/>
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)"/>
    </include>

</launch>
