<launch>
    <!--    map path to file-->
    <arg name="map_file" default="$(find p_g06_navigation)/maps/th_arena_3.yaml"/>

    <!--    positions for amcl node-->
    <arg name="initial_pose_x" default="-1.0"/>
    <arg name="initial_pose_y" default="4.0"/>
    <arg name="initial_pose_a" default="3.14"/>

    <!--    argument for robot name-->
    <arg name="robot_namespace" default="blue1"/>

    <!--    arguments to open rviz and map node when launching multiple robots-->
    <arg name="open_rviz" default="false"/>
    <arg name="open_map" default="false"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!--    BLUE ROBOT 1-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="blue1"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="-8.0"/>
        <arg name="initial_pose_y" value="0"/>
        <arg name="initial_pose_a" value="0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    BLUE ROBOT 2-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="blue2"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="-8.0"/>
        <arg name="initial_pose_y" value="1"/>
        <arg name="initial_pose_a" value="0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    BLUE ROBOT 3-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="blue3"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="-8.0"/>
        <arg name="initial_pose_y" value="2"/>
        <arg name="initial_pose_a" value="0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--***********************************************************************-->

    <!--    RED ROBOT 1-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="red1"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="4.0"/>
        <arg name="initial_pose_y" value="4.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    RED ROBOT 2-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="red2"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="4.0"/>
        <arg name="initial_pose_y" value="5.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    RED ROBOT 3-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="red3"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="5.0"/>
        <arg name="initial_pose_y" value="5.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--***********************************************************************-->

    <!--    GREEN ROBOT 1-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="green1"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="5.0"/>
        <arg name="initial_pose_y" value="2.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    GREEN ROBOT 2-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="green2"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="5.0"/>
        <arg name="initial_pose_y" value="1.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

    <!--    GREEN ROBOT 3-->
    <include file="$(find p_g06_navigation)/launch/p_g06_navigation.launch">
        <arg name="robot_namespace" value="green3"/>
        <!--        initial pose-->
        <arg name="initial_pose_x" value="6.0"/>
        <arg name="initial_pose_y" value="1.0"/>
        <arg name="open_rviz" value="false"/>
        <arg name="open_map" value="false"/>
    </include>

</launch>
