<launch>

<!-- roslaunch cube_sphere c_s_bringup.launch  -->

<!--     Publisher -->
    <node name="publisher" pkg="cube_sphere" type="cube_sphere_pub.py" output="screen"/>

<!-- open rviz with config -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find cube_sphere)/cube_sphere.rviz"/>

</launch>