<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find p_jfernandes_bringup)/maps/house.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find p_jfernandes_bringup)/launch/include/amcl.launch" />

    <!-- Calls navigation stack packages -->
    <!-- Takes reference from env variable 2wd -->
    <include file="$(find p_jfernandes_bringup)/launch/include/move_base/move_base_2wd.launch" />
</launch>