<?xml version="1.0"?>
<launch>

    <!-- roslaunch scara_robot display_scara.launch -->

    <!-- open rviz with config -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find scara_robot)/config/scara.rviz"/>


    <!--     launch urdf file, xacro and gui-->
    <arg name="model" default="$(find scara_robot)/urdf/scara.urdf.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)"/>
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>